/* BOX SHADOW */
/* MIXINS */
* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #777;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF3366), to(#BA265D));
  background: linear-gradient(to right bottom, #FF3366, #BA265D);
  background-size: cover;
  background-repeat: no-repeat;
}

/* BOX SHADOW */
/* MIXINS */
.logo {
  height: 3.25rem;
  margin-left: 2rem;
}

.search {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: #f4f2f2;
  border: none;
  padding: .7rem 2rem;
  border-radius: 100px;
  width: 90%;
  margin-right: -3.5rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.search__input:focus {
  outline: none;
  width: 100%;
  background: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:-ms-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input::-ms-input-placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input::placeholder {
  font-weight: 100;
  color: #ccc;
}

.search__input:focus + .search__button {
  background: #f0eeee;
}

.search__button {
  border: none;
  background: #f4f2f2;
}

.search__button:focus {
  outline: none;
}

.search__button:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
}

.search__icon {
  width: 2rem;
  height: 2rem;
  fill: #999;
}

.user-nav {
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
  cursor: pointer;
  height: 100%;
}

.user-nav > *:hover {
  background: #f4f2f2;
}

.user-nav__icon-box {
  position: relative;
}

.user-nav__icon {
  width: 2.25rem;
  height: 2.25rem;
  fill: #777;
}

.user-nav__notification {
  width: 2rem;
  height: 2rem;
  background: #eb2f64;
  border-radius: 50%;
  color: #fff;
  position: absolute;
  top: 1.5rem;
  right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-nav__user-photo {
  height: 3.75rem;
  border-radius: 50%;
  margin-right: 1rem;
}

/* BOX SHADOW */
/* MIXINS */
.container {
  max-width: 120rem;
  margin: 8rem auto;
  background: #f4f2f2;
  -webkit-box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
          box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  min-height: 50rem;
}

.container .header {
  font-size: 1.4rem;
  height: 7rem;
  background: #fff;
  border-bottom: #f4f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .content .sidebar {
  background: #333;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
}

.container .content .hotel-view {
  background: #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
