* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #777;
  font-weight: 400;
  line-height: 1.6;
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right bottom, from(#FF3366), to(#BA265D));
  background: linear-gradient(to right bottom, #FF3366, #BA265D);
  background-size: cover;
  background-repeat: no-repeat;
}
